<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de Tasks de Projeto</div>
                <div class="panel-body">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Start</th>
                                <th>Due</th>
                                <th>Status</th>
                                <th>Ações</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="o in projectTasks">
                                <td>{{o.name}}</td>
                                <td>{{o.start_date}}</td>
                                <td>{{o.due_date}}</td>
                                <td>{{o.status}}</td>

                                <td><a ng-href="#/project/{{o.project_id}}/task/{{o.id}}/edit">Editar</a>
                                    | <a ng-href="#/project/{{o.project_id}}/task/{{o.id}}/remove">Excluir</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
