<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Exclusão de Task</div>
                <div class="panel-body">
                    <p>Confirmar exclusão desta task? </p>
                    <ul>
                        <li><strong>Name:</strong> {{projectTask.name}}</li>
                        <li><strong>Start date:</strong> {{projectTask.start_date | dateBR}}</li>
                        <li><strong>Due date:</strong> {{projectTask.due_date| dateBR}}</li>
                        <li><strong>Status:</strong> {{projectTask.status}}</li>
                    </ul>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-4">
                            <button type="submit" class="btn btn-danger" ng-click="remove()">
                                Excluir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
